<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Azure Service Bus-->
    <bean id="azureServiceBusConfig" class="org.apache.camel.component.azure.servicebus.ServiceBusConfiguration">
        <property name="connectionString" value="${azure.connection}" />
    </bean>
    <bean id="azureServiceBus" class="org.apache.camel.component.azure.servicebus.ServiceBusComponent">
        <property name="configuration" ref="azureServiceBusConfig" />
    </bean>

    <!-- Kafka -->
    <bean id="kafkaConfig" class="org.apache.camel.component.kafka.KafkaConfiguration">
        <property name="brokers" value="${kafka.connection}" />
    </bean>
    <bean id="kafka" class="org.apache.camel.component.kafka.KafkaComponent">
        <property name="configuration" ref="kafkaConfig" />
    </bean>
</beans>

